/* default */

* {
    margin: 0;
    padding: 0;
    /* 中文字體 */
    font-family: 'jf-openhuninn-1.1', 'Noto Serif TC', 'Microsoft Jhenghei';
    /* 英文字體 */
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img {
    width: 100%;
}

.full-width {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: url("../img/HG/background.png") center;
    background-size: contain;
}

@media (min-width:596px) {
    body {
        background: url("../img/HG/background.png") center;
        background-size: cover;
    }
}

.center {
    margin: 0;
    float: none;
}


/* 嵌入字型設定 */

@font-face {
    font-family: 'jf-openhuninn-1.1';
    src: url('../font/jf-openhuninn-1.1.ttf');
}


/* 字 */

h1 {
    color: #e7ff6e;
    text-align: center;
}

h2 {
    color: #e7ff6e;
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    color: #e7ff6e;
}

h4,
h5,
h6 {
    color: #fff;
}


/* header nav */

header {
    background-color: rgba(57, 57, 57, 1);
    border-bottom: unset 3px #595959;
    z-index: 99;
    position: fixed;
}

#menu {
    display: none;
    transition: ease-in-out 2s;
    background-color: rgba(57, 57, 57, 0.5);
}

#menu a {
    display: block;
    border-bottom: 1px solid #e7ff6e;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    margin: 10px 3px;
}

#menu .active {
    color: #e7ff6e;
}

nav {
    /* padding: 12px 0; */
}

#burger {
    text-align: center;
    padding: 30px 0;
}

#burger i {
    color: #fff;
}

#logo_img {
    height: 100px;
    object-fit: contain;
}

@media (min-width: 576px) {
    header {
        position: sticky;
        width: 100%;
        height: 56px;
        background-color: rgba(57, 57, 57, 0);
        box-shadow: 0 10px 6px rgba(0, 0, 0, 0);
        justify-content: space-evenly;
    }
    #burger {
        display: none;
    }
    #menu {
        text-align: right;
        display: inline-block;
        padding: 32px 0;
        background-color: rgba(57, 57, 57, 0);
    }
    #menu a {
        display: initial;
        text-align: right;
        margin: 0 10px;
        border-bottom: 0;
    }
    #logo_img {
        height: auto;
        object-fit: fill;
    }
}


/* section */

.section h1 {
    top: 0px;
}

.section p {
    color: #fff;
    margin-top: 10px;
}

.fp-tableCell {
    display: block;
    padding-top: 160px;
}

@media (min-width: 576px) {
    #section1 .fp-tableCell {
        display: table-cell;
        padding: 0;
    }
    .sectionelse .fp-tableCell {
        padding: 50px 0;
    }
}


/* section1 */

#section1 #title {
    text-align: left;
}

@media (min-width: 720px) {
    #section1 #title {
        font-size: 3.5rem;
    }
}


/* section2 */

.cls-1,
.cls-2,
.cls-3 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 8px;
}

.cls-2 {
    stroke-dasharray: 18.21 8.09;
}

.cls-3 {
    stroke-dasharray: 17.44 7.75;
}

.cls-4 {
    fill: #fff;
    stroke: #fff;
}

text {
    fill: #fff;
    font-size: 1.25rem;
    transition: visibility 10s ease-in-out;
}

.lg-svg {
    display: none;
}

@media (min-width: 520px) {
    text {
        visibility: hidden;
    }
    .lg-svg {
        display: block;
    }
    .cls-4:hover+text {
        visibility: visible;
    }
    .sm-svg {
        display: none;
    }
}

.sm-svg .cls-2 {
    stroke-dasharray: 17.1 7.6;
}

.sm-svg .cls-3 {
    stroke-dasharray: 17.73 7.88;
}


/* section3-1 */

#section3 .row {
    justify-content: space-around;
}

#section3 .s3-title {
    order: 2;
}

#section3 .s3-p {
    order: 3;
}

#section3 .s3-img {
    order: 1;
}


/* section3-2 */

.box {
    /* padding: 10px 0; */
    height: 60vh;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.chart-container {
    display: flex;
    position: relative;
    height: inherit;
    justify-content: center;
}

.w-50 {
    width: 50%;
}

@media (min-width:576px) {
    .box {
        height: 70vh;
        padding: 5px;
    }
}

.box .row {
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.iframe-rwd {
    position: relative;
}

.iframe-rwd iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* section4 */

#section4 h2 {
    color: #fff;
    font-size: 2rem;
}

#section4 .container {
    height: 90%;
}

#section4 .row {
    justify-content: space-evenly;
    text-align: center;
}

.reg {
    font-size: 1.25rem;
}

#section4 img {
    object-fit: contain;
    height: 75%;
}

.reg {
    color: #fff;
    font-size: 0.8rem;
    display: none;
}

#result_result h4 {
    text-decoration: underline;
}

#result_result:hover h4 {
    text-decoration: none;
}

#conclusion {
    visibility: hidden;
    color: #e7ff6e;
    border: 1px solid #fff;
    border-radius: 2px;
}

#result_result:hover #conclusion {
    visibility: visible;
    transition: all 500ms;
}

.result,
#advise,
#silence {
    height: 10vh;
}

#advise {
    margin-bottom: 5vh;
}

#silence {
    margin-top: 0;
}

#result_ants,
#result_mediator,
#result_result {
    margin: 30px 0;
}

#img_img_arrow2,
#img_img_arrow3 {
    transform: rotate(60deg);
}

#img_img_arrow1,
#img_img_arrow4 {
    transform: rotate(120deg);
}

@media (min-width: 596px) {
    #section4 .row {
        padding: 0;
        justify-content: space-around;
        text-align: center;
        height: 40vh;
    }
    #section4 .img_arrow {
        transform: rotate(0deg);
        width: 100%;
    }
    #section4 img {
        width: 50%;
        height: 100%;
    }
    #section4 .col-10 {
        height: 25vh;
    }
    .result {
        height: initial;
        margin: 25px 0;
    }
    .arrow {
        height: 50vh;
        margin: 25px 0;
    }
    .img_arrow1,
    .img_arrow3 {
        margin-bottom: 5rem;
    }
    .img_arrow2,
    .img_arrow4 {
        margin-top: 5rem;
    }
    #result_mediator {
        height: 100vh;
    }
    #result_ants,
    #result_mediator,
    #result_result {
        margin: 0;
    }
    #section4 #result_mediator {
        align-items: center;
    }
    .reg {
        font-size: 0.2rem;
        display: block;
    }
    #silence {
        margin-top: 5vh;
    }
}


/* nav bar */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: rgb(255, 255, 255);
}


/* footer */

footer {
    width: 100%;
    height: 18vh;
    background-color: #000000;
    position: relative;
    bottom: 0;
}

footer .row {
    justify-content: center;
}

footer #footer_logo img {
    height: 80px;
    object-fit: contain;
}

footer #footer_contact {
    color: #fff;
    font-size: 0.8rem;
}

@media (min-width: 596px) {
    footer {
        height: 100px;
        position: absolute;
        bottom: 60px;
    }
    footer .row {
        justify-content: space-between;
        align-items: center;
    }
}


/* jQuery UI */

.ui-widget-overlay {
    background: #ccc !important;
    opacity: 0.6 !important;
    filter: Alpha(Opacity=.3);
}


/* 彈出視窗 */

.ui-widget-content {
    background-color: rgba(85, 85, 85, 1);
}

.cha_bg {
    background-color: #595959;
}


/* 左右箭頭 */

.fp-controlArrow {
    margin-top: 5vh;
}

@media (min-width:596px) {
    .fp-controlArrow {
        margin-top: 0;
    }
}